<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- libraries CSS -->
    <link rel="stylesheet" href="/static/icon/flaticon_glamer.css">
    <link rel="stylesheet" href="/static/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/splide/splide.min.css">
    <link rel="stylesheet" href="/static/vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/static/vendor/slim-select/slimselect.css">
    <link rel="stylesheet" href="/static/vendor/animate-wow/animate.min.css">
    <link rel="stylesheet" href="/static/vendor/no-ui-slider/nouislider.min.css">

    <!-- custom CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    {% include 'header.html' %}
    <main>
        <!-- BREADCRUMB SECTION START -->
        <div class="ul-container">
            <div class="ul-breadcrumb">
                <h2 class="ul-breadcrumb-title">Discover Our Products</h2>
                <div class="ul-breadcrumb-nav">
                    <a href="/"><i class="flaticon-home"></i> Home</a>
                    <i class="flaticon-arrow-point-to-right"></i>
                    <span class="current-page">Shop</span>
                </div>
            </div>
        </div>

        <div class="ul-inner-page-container">
            <div class="ul-inner-products-wrapper">
                <div class="row ul-bs-row flex-column-reverse flex-md-row">
                    <!-- right products container -->
                    <div class="col-12">
                        <div class="row ul-bs-row row-cols-lg-4 row-cols-sm-3 row-cols-2 row-cols-xxs-1">
                            {% for product in products %}
                            <!-- product card -->
                            <div class="col">
                                <div class="ul-product" style="height: 100%;">
                                    <a href="/shop-details?id={{ product.id }}">
                                    <div class="ul-product-heading">
                                        <span class="ul-product-price text-danger">{{ product.price }}</span>
                                        {% if product.discount %}
                                        <span class="ul-product-discount-tag">{{ product.discount }}</span>
                                        {% endif %}
                                    </div>

                                    <div class="ul-product-img">
                                        <img src="{{ product.image_path }}" alt="{{ product.image_alt }}">
                                    </div>

                                    <div class="ul-product-txt">
                                        <h4 class="ul-product-title"><a href="/shop-details?id={{ product.id }}">{{ product.name }}</a></h4>
                                        <h5 class="ul-product-category"><a href="/shop?category={{ product.category }}">{{ product.category }}</a></h5>
                                    </div>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <!-- pagination -->
                        <div class="ul-pagination">
                            {% if total_pages > 1 %}
                            <ul>
                                {% if current_page > 1 %}
                                <li><a href="{{ url_for('shop', page=current_page-1) }}"><i class="flaticon-left-arrow"></i></a></li>
                                {% endif %}
                                
                                <li class="pages">
                                    {% for page_num in range(1, total_pages + 1) %}
                                    <a href="{{ url_for('shop', page=page_num) }}" {% if page_num == current_page %}class="active"{% endif %}>
                                        {% if page_num < 10 %}0{% endif %}{{ page_num }}
                                    </a>
                                    {% endfor %}
                                </li>
                                
                                {% if current_page < total_pages %}
                                <li><a href="{{ url_for('shop', page=current_page+1) }}"><i class="flaticon-arrow-point-to-right"></i></a></li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- FOOTER SECTION START -->
    {% include 'footer.html' %}
    <!-- FOOTER SECTION END -->

    <!-- libraries JS -->
    <script src="/static/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor/splide/splide.min.js"></script>
    <script src="/static/vendor/splide/splide-extension-auto-scroll.min.js"></script>
    <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/static/vendor/slim-select/slimselect.min.js"></script>
    <script src="/static/vendor/animate-wow/wow.min.js"></script>
    <script src="/static/vendor/splittype/index.min.js"></script>
    <script src="/static/vendor/mixitup/mixitup.min.js"></script>
    <script src="/static/vendor/fslightbox/fslightbox.js"></script>
    <script src="/static/vendor/no-ui-slider/nouislider.min.js"></script>

    <!-- custom JS -->
    <script src="/static/js/main.js"></script>
</body>

</html>